/*
* TODO: Ce fichier regroupe toutes les instructions liée à la section communication, web et relation Presse de la page commission.
*/


/******************************************************************
Import helper
******************************************************************/
@import '../../helper/mixins.scss';
@import '../../helper/modifier.scss';
@import '../../helper/variable.scss';


/******************************************************************
Developpement economique
******************************************************************/
.commWebRelationPresse, 
.commWrpSecond {
    min-height: 50vh;
    @include positionFlex ($colonne, space-around, stretch);

        &--title {
            @include positionFlex ($colonne, baseline, $middle);

            p {
                text-align: $middle;
                margin: 0 30% 0 30%;
            }
        }

        &--item {
            @include positionFlex ($ligne, space-around, baseline);

            &--child {
                @include positionFlex ($colonne, baseline, $middle);
            }
        }
}


/******************************************************************
Media queries desktop extra large
******************************************************************/
@media screen and (min-width: 1200px) and (max-width: 1500px) {
    .commWebRelationPresse,
    .commWrpSecond {
        min-height: $mqExtraLarge;

        &--item {
            
            &--child {
                flex: 1 0 0;
            }
        }
    }
}


/******************************************************************
Media queries tablette large, desktop small,
******************************************************************/
@media screen and (min-width: 990px) and (max-width: 1199px) {
    .commWebRelationPresse,
    .commWrpSecond {

        &--title {
            margin: 5% 0;

            p {
                margin: 0;
            }
        }

        &--item {
            display: initial;

            &--child:last-child {
                margin: 0 0 5% 0;
            }
        }
    }
}


/******************************************************************
Media queries tablette
******************************************************************/
@media screen and (min-width: 768px) and (max-width: 989px) {
    .commWebRelationPresse,
    .commWrpSecond {

        &--title {
            margin: 5% 0;

            p {
                margin: 0;
            }
        }

        &--item {
            display: initial;

            &--child:last-child {
                margin: 0 0 5% 0;
            }
        }
    }
}


/******************************************************************
Media queries phone
******************************************************************/
@media screen and (min-width: 596px) and (max-width: 767px) {
    .commWebRelationPresse,
    .commWrpSecond {

        &--title {
            margin: 5% 0;

            p {
                margin: 0;
            }
        }

        &--item {
            display: initial;

            &--child:last-child {
                margin: 0 0 5% 0;
            }
        }
    }
}


/******************************************************************
Media queries phone small
******************************************************************/
@media screen and (max-width: 595px) {
    .commWebRelationPresse,
    .commWrpSecond {

        &--title {
            margin: 5% 0;

            p {
                margin: 0;
            }
        }

        &--item {
            display: initial;

            &--child:last-child {
                margin: 0 0 5% 0;
            }
        }
    }
}