/*
* TODO: Ce fichier regroupe toutes les instructions liée à la section nouveaux adhérents de la page commission.
*/


/******************************************************************
Import helper
******************************************************************/
@import '../../helper/mixins.scss';
@import '../../helper/modifier.scss';
@import '../../helper/variable.scss';


/******************************************************************
Developpement economique
******************************************************************/
.newAdherent {
min-height: 50vh;
@include positionFlex ($colonne, space-around, stretch);

    &--title {
        @include positionFlex ($colonne, baseline, $middle);

        p {
            text-align: $middle;
            margin: 0 30% 0 30%;
        }
    }

    &--item {
        @include positionFlex ($ligne, space-around, baseline);

        &--child {
            @include positionFlex ($colonne, baseline, $middle);
            margin: 0 1%;
            text-align: center;
        }
    }
}


/******************************************************************
Media queries desktop extra large
******************************************************************/
@media screen and (min-width: 1200px) and (max-width: 1500px) {
    .newAdherent {
        min-height: $mqExtraLarge;
    }
}


/******************************************************************
Media queries tablette large, desktop small,
******************************************************************/
@media screen and (min-width: 990px) and (max-width: 1199px) {
    .newAdherent {
        min-height: 60vh;
    }
}


/******************************************************************
Media queries tablette
******************************************************************/
@media screen and (min-width: 768px) and (max-width: 989px) {
    .newAdherent {

        &--title {
            margin: 5% 0;
        }

        &--item {
            display: initial;

            &--child {
                p {
                    text-align: center;
                }
            }

            &--child:last-child {
                margin: 0 0 5% 0;
            }
        }
    }
}


/******************************************************************
Media queries phone
******************************************************************/
@media screen and (min-width: 596px) and (max-width: 767px) {
    .newAdherent {

        &--title {
            margin: 5% 0;
        }

        &--item {
            display: initial;

            &--child {
                p {
                    text-align: center;
                }
            }

            &--child:last-child {
                margin: 0 0 5% 0;
            }
        }
    }
}


/******************************************************************
Media queries phone small
******************************************************************/
@media screen and (max-width: 595px) {
    .newAdherent {

        &--title {
            margin: 5% 0;
        }

        &--item {
            display: initial;

            &--child {
                p {
                    text-align: center;
                }
            }

            &--child:last-child {
                margin: 0 0 5% 0;
            }
        }
    }
}